.title-section {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 2rem;

    span {
        position: relative;
        display: inline-block;
        z-index: 1;

        &::after {
            content: '';
            width: 90%;
            height: 20px;
            background: $secondary;
            position: absolute;
            left: 0;
            // bottom: 40px;
            bottom: 0;
            z-index: -1;
        }
    }

    &--center {
        text-align: center;
        margin-bottom: 40px;

        span {

            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
